@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: aqua;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.Container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
}

.box {
    border: 2px solid black;
    font-size: 5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box:hover {
    background-color: rgb(229, 239, 236);
}

.info{
    font-size: 20px;
}

.gameInfo {
    padding: 0 34px;
    font-family: 'Roboto', sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

/*   UTILITY CLASSES  */

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset{
  margin: 12px 35px;
  padding: 6px 20px;
  background-color: rgb(193, 169, 214);
  border-radius: 6px;
  cursor: pointer;
  font: size 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 900px)
{
    .gameContainer{
        flex-wrap: wrap;
    }    
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .Container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}